name: PortalNetwork
on:
  pull_request:
    types: [opened, reopened, synchronize]

env:
  cwd: ${{github.workspace}}/packages/portalnetwork

defaults:
  run:
    working-directory: packages/portalnetwork

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  test-unit-portalnetwork:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [20]
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'npm'
    
      - run: npm i -g @mapbox/node-pre-gyp

      - run: npm ci
        working-directory: ${{ github.workspace }}

      - run: npm run lint
        working-directory: ${{ github.workspace }}
      - run: npm run test


  test-integration-portalnetwork:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [20]
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'npm'
    
      - run: npm i -g @mapbox/node-pre-gyp

      - run: npm ci
        working-directory: ${{ github.workspace }}

      - run: npm run lint
        working-directory: ${{ github.workspace }}
      - run: npm run test:integration



  
